// important part
.sticky {
  position: -webkit-sticky;
  position: sticky;
}

// just some design
.page-wrap {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;

  > * {
    border: 4px solid rgb(255, 0, 0);
    border-radius: 8px;
    background: white;
  }
}

main {
  padding: 2rem;
  font-size: 20px;
  line-height: 22px;
}

aside {
  padding: 20px;

  .sticky-design {
    height: 1400px;
    background: rgb(6, 95, 51);
    border-radius: 5px;
    border: 5px dashed rgb(252, 182, 103);
  }
}
